.apply {
  padding-left: 205px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto 220px auto;
}

.apply__title {
  text-align: center;
  margin: 0 auto 55px auto;
}

.apply__info--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
}

.apply__info {
  margin-top: 105px;
  position: relative;
}

.apply__info:first-child {
  margin-top: 130px;
}

.apply__info:last-of-type {
  margin-bottom: 80px;
}

.apply__info__icon {
  position: absolute;
  top: -26px;
  left: -40px;
}

.apply__info__title {
  position: relative;
  background-color: transparent;
  margin-bottom: 16px;
}

.apply__image {
  position: sticky;
  top: 30px;
  width: 100%;
  content: url("../assets/phone.png");
}

@media screen and (max-width: 1180px) {
  .apply {
    padding: 0 31px 0 44px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .apply__image {
    position: unset;
    content: url("../assets/phone-mobile.png");
  }
  .apply__info {
    margin-top: 48px;
  }
  .apply__info:first-child {
    margin-top: 63px;
  }
  .apply__info:last-of-type {
    margin-bottom: 48px;
  }
  .apply__info--wrapper {
    width: 100%;
  }
  .apply__info__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .apply__info__icon {
    width: 40px;
    height: auto;
    top: -7px;
    left: -24px;
  }
  .apply__info--wrapper button {
    align-self: center;
  }
}
