.footer {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 58px 55px 58px 68px;
  margin: 32px;
}

@media screen and (min-width: calc(1440px + 2*32px)) {
  .footer {
    margin: 32px auto;
  }
}

.footer__copyright {
  font-size: 18px;
  line-height: 30px;
  padding-right: 50px;
}

.footer__icon {
  margin-right: 35px;
}

.footer__icon:first-child {
  margin-right: 63px;
}

.footer__icon:last-child {
  margin-right: 0;
}

@media screen and (max-width: 950px) {
  .footer {
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .footer__copyright {
    margin-bottom: 34px;
    padding-right: 0;
  }
}

@media screen and (max-width: 570px) {
  .footer {
    padding-right: 26px;
    padding-left: 26px;
    margin: 16px;
  }
  .footer__copyright {
    padding-right: 0;
    font-size: 16px;
  }
  .footer__icon:first-child {
    margin-right: 50px;
  }
  .footer__icon {
    margin-right: 25px;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__icon:first-child {
    margin-right: 20px;
  }
  .footer__icon {
    margin-right: 12px;
  }
}
