* {
  box-sizing: border-box;
  margin: 0;
}

*::selection {
  background-color: rgba(94, 196, 188, 0.4);
}

body {
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  line-height: 24px;
  background-color: #0a181b;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: 800;
}

h1 {
  font-size: 64px;
  line-height: 77px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
  }
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 38px;
  }
}

h3 {
  font-size: 32px;
  line-height: 38px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

.p1 {
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .p1 {
    font-size: 16px;
    line-height: 24px;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

.layout-spacing {
  max-width: 1440px;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
  background: #30cec2;
  border-radius: 15px;
  font-weight: 800;
  font-size: 16px;
  color: #0a181b;
  padding: 12px 32px;
}

button:hover {
  background: #35e5d8;
}

button:active {
  background: #20afa4;
}
