* {
  box-sizing: border-box;
  margin: 0;
}

*::selection {
  background-color: rgba(94, 196, 188, 0.4);
}

body {
  font-family: "Fuse V.2 Display";
  background-color: #0a181b;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.layout-spacing {
  max-width: 1440px;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
  background: #30cec2;
  border-radius: 15px;
  position: absolute;
  width: 131px;
  height: 48px;
  font-family: "Fuse V.2 Display";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #0a181b;
  border-radius: 15px;
}

button:hover {
  background: #35e5d8;
}

button:active {
  background: #20afa4;
}
