.hero {
  padding: 150px 16px 350px 16px;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 300px 24px 175px 24px;
  }
}

.hero__title {
  margin-bottom: 16px;
}

.hero__subtitle {
  color: #ffffffcc;
  margin-bottom: 16px;
}
