.schedule__controls {
  position: relative;
}

.controls__element-bridge-reverse {
  position: absolute;
  top: -5px;
  left: 35px;
}

@media screen and (max-width: 1100px) {
  .controls__element-bridge-reverse {
    display: none;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tab {
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  width: 88px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.tab:not(:last-of-type) {
  margin-right: 16px;
}

.tab:hover {
  border-color: #30cec2;
}

.tab:hover * {
  color: #30cec2;
}

.tab__day-number {
  margin-left: 6px;
}

.filters {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  padding: 16px 30px;
  margin-bottom: 48px;
}

.filter {
  padding: 8px 16px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .filters {
    padding-top: 10px;
    justify-content: flex-start;
  }
}

.filter:not(:last-of-type) {
  margin-right: 8px;
}

.filter:hover {
  border-color: #30cec2;
  color: #30cec2;
}

.schedule {
  padding: 0 205px;
  margin-bottom: 500px;
}

@media screen and (max-width: 1100px) {
  .schedule {
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .schedule {
    margin-bottom: 120px;
  }
}

.schedule__card {
  margin-bottom: 16px;
}

.schedule__card--simple {
  display: flex;
  align-items: baseline;
  padding: 8px 40px;
}

.schedule__card--complex {
  background-color: #162426;
  border-radius: 20px;
  cursor: pointer;
  padding: 24px 40px;
}

.schedule__card--complex * {
  background-color: inherit;
}

.schedule__card__header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.schedule__card__subheader {
  display: flex;
  align-items: center;
}

.schedule__card__time {
  width: 105px;
  color: rgba(255, 255, 255, 0.8);
  flex-shrink: 0;
}

.schedule__card__tag {
  background-color: #30cec2;
  border-radius: 6px;
  color: #0a181b;
  padding: 4px 8px;
  font-weight: 800;
  font-size: 12px;
  line-height: 112.8%;
  margin-right: 8px;
  flex-shrink: 0;
}

.schedule__card__title {
  flex-shrink: 2;
}

.schedule__card__description {
  margin-left: 105px;
  color: rgba(255, 255, 255, 0.8);
}

.schedule__card__expand {
  margin-left: 12px;
  transition: transform 500ms ease-in-out;
}

.schedule__card--complex:hover .schedule__card__expand {
  transform: rotate(calc(180deg + 360deg * 2));
}

@media screen and (max-width: 768px) {
  .schedule__card--simple {
    flex-direction: column;
    padding: 8px 24px;
  }

  .schedule__card--complex {
    padding: 16px 24px;
  }

  .schedule__card--simple > *:not(:last-child) {
    margin-bottom: 8px;
  }

  .schedule__card__header {
    flex-direction: column;
    align-items: stretch;
  }

  .schedule__card__subheader:nth-of-type(2) {
    justify-content: space-between;
    align-items: flex-start;
  }

  .schedule__card__subheader:not(:last-of-type) {
    margin-bottom: 12px;
  }

  .schedule__card__time {
    font-size: 14px;
    line-height: 22px;
    width: 85px;
  }

  .schedule__card__tag {
    font-size: 10px;
  }

  .schedule__card__title {
    font-size: 16px;
    line-height: 24px;
  }

  .schedule__card__description {
    margin-left: 0;
    font-size: 14px;
    line-height: 23px;
  }
}
