.supporters {
  max-width: 1440px;
}

.supporters__title {
  text-align: center;
  margin: 100px auto 80px auto;
}

.supporters__golden-sponsor--wrapper {
  margin: 0 100px;
}

.supporters__golden-sponsor {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 160px;
  position: relative;
}

.supporters__golden-sponsor:nth-child(2) {
  flex-direction: row-reverse;
}

.supporters__golden-sponsor__photo {
  width: 610px;
  height: 410px;
}

.supporters__golden-sponsor__info {
  margin-left: 61px;
}

.supporters__golden-sponsor__info__title {
  position: relative;
  overflow: hidden;
  width: fit-content;
}

.supporters__golden-sponsor__info__title:hover::before {
  left: 0;
}

.supporters__golden-sponsor__info__title::before {
  content: "";
  position: absolute;
  bottom: 5px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #5ec4bc;
  left: -100%;
  transition: left 0.2s ease-in-out;
  opacity: 0.8;
}

.supporters__golden-sponsor__info__badge {
  background: #30cec2;
  color: #0a181b;
  border-radius: 8px;
  padding: 7px 16px;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin: 25px 0 16px 0;
}

.supporters__golden-sponsor__info__description {
  margin: 16px 0 34px;
  max-width: 82%;
}

@media screen and (max-width: 1200px) {
  .supporters__golden-sponsor {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .supporters__golden-sponsor:nth-child(2) {
    flex-direction: column;
  }
  .supporters__golden-sponsor__photo {
    max-width: 100%;
    height: auto;
  }
  .supporters__golden-sponsor__info {
    margin: 0 0 120px 0;
  }
  .supporters__golden-sponsor__info__description {
    margin: 10px 0 34px;
    max-width: 610px;
  }
}

@media screen and (max-width: 768px) {
  .supporters__golden-sponsor--wrapper {
    margin: 0 24px;
  }
  .supporters__golden-sponsor__info {
    margin-bottom: 80px;
  }
  .supporters__golden-sponsor__info__description {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 375px) {
  .supporters__title {
    font-size: 32px;
    line-height: 38px;
  }
}

.supporters__other-sponsor__title {
  text-align: center;
  margin: 110px auto 34px auto;
  color: #30cec2;
}

.supporters__other-sponsor--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: relative;
}

.supporters__other-sponsor--wrapper:last-child {
  margin-bottom: 394px;
}

.sponsor-logo {
  width: 20%;
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 1024px) {
  .sponsor-logo {
    width: 30%;
    margin: 20px 30px;
  }
}

@media screen and (max-width: 768px) {
  .supporters__other-sponsor__title {
    font-size: 24px;
    line-height: 36px;
    margin-top: 55px;
  }
  .supporters__other-sponsor__title__silver {
    margin-top: 0;
  }
  .supporters__other-sponsor--wrapper:last-child {
    margin-bottom: 140px;
  }
}

.supporters__element-ball {
  width: 306px;
  height: 306px;
  position: absolute;
  bottom: -180px;
  right: -100px;
}

.supporters__element-upside-down-bridge {
  width: 171px;
  height: 171px;
  position: absolute;
  bottom: -165px;
  left: -72px;
}

.supporters__element-coin {
  width: 329px;
  height: 329px;
  position: absolute;
  bottom: -230px;
  right: -120px;
}

.supporters__element-cylinder {
  width: 204px;
  height: 204px;
  position: absolute;
  bottom: -190px;
  left: 100px;
}

.supporters__element-big-ball {
  width: 216px;
  height: 216px;
  position: absolute;
  top: -110px;
  right: 30px;
}

@media screen and (max-width: 1200px) {
  .supporters__element-ball,
  .supporters__element-upside-down-bridge,
  .supporters__element-coin,
  .supporters__element-cylinder,
  .supporters__element-big-ball {
    display: none;
  }
}
